@media(max-width:781px){
    .wp-block-columns.is-style-reverse-direction-on-mobile{
        flex-direction: column-reverse;
        color: red;
    }
    .wp-block-columns.is-style-reverse-direction-on-mobile.is-not-stacked-on-mobile{
        flex-direction: row-reverse;
        color:blue
    }
}